/*.c1 {background: greenyellow;}*/
.c2 {font-size: 48px}
.c3 {margin-left: 20%; border: greenyellow; border-style: solid;}
.c4 {width: 800px; height: 800px; background-image: url("2.jpg"); background-repeat: no-repeat; background-position: center center}
.c_font {text-indent: 32px}