body {
    background: white;
}

.box {
    background: url("2.jpg") no-repeat center center fixed;
    height: 800px;
    width: 100%;

}

.c1 {
    height: 500px;
    width: 100%;
    background: greenyellow;
}

.c2 {
    height: 500px;
    width: 100%;
    background: red;
}

.c3 {
    height: 500px;
    width: 100%;
    background: blue;
}